{
   "semi": false,
   "tabWidth": 4,
   "printWidth": 120,
   "bracketSameLine": true,
   "singleAttributePerLine": false,

   "overrides": [
      {
         "files": "*.{scss,sass}",
         "options": {
            "tabWidth": 4
         }
      }
   ]
}
