@use "../../assets/scss/variables_mixins.scss" as *;

header {
    margin: 50px 100px;

    @media (max-width: $mobile-media-querie) {
        margin: 20px 20px 27px;
    }
}

h1 {
    display: none;
}

nav {
    @include flex-space-between-center;

    img {
        @media (max-width: $mobile-media-querie) {
            @include box-size(145px, 48.88px);
        }
    }

    ul {
        @include flex(57px);
        list-style: none;
        padding: unset;
        margin: 0;

        @media (max-width: $mobile-media-querie) {
            gap: 26px;
            text-transform: uppercase;
        }

        li {
            font-size: 24px;

            @media (max-width: $mobile-media-querie) {
                font-size: 12px;
            }

            .underlined {
                text-decoration: underline;
            }

            a {
                text-decoration: none;
                color: $secondary-color;
            }
        }
    }
}
