@use "../../assets/scss/variables_mixins.scss" as *;

footer {
    @include flex-column-align-center(47px);
    color: $primary-color;
    background-color: $secondary-color;
    padding: 66px 0 29px;

    @media (max-width: $mobile-media-querie) {
        padding-bottom: 58px;
        gap: 13px;
    }

    p {
        font-size: 24px;
        margin: 0;

        @media (max-width: $mobile-media-querie) {
            font-size: 12px;
            max-width: 134px;
            text-align: center;
        }
    }
}
