@use "./assets/scss/variables_mixins.scss" as *;

:root {
    font-family: "Montserrat";
    font-weight: 500;
    color: $secondary-color;
    background-color: $primary-color;
}

body {
    margin: auto;
    min-width: $min-width-mobile;
}

main {
    margin: 0 100px;

    @media (max-width: $mobile-media-querie) {
        margin: 0 20px;
    }
}
